body{
    background-color: navy;
}

p#logo-text{
    color:white;
    align-self: center;
    margin-left: 20px;
    font-size: medium;
    font-family: sans-serif;
}

img.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

h1.logo{
    display: flex;
    flex-direction: row;
}

.head{
    display: flex;
    flex-direction: row;
}

.nav-bar{
    display:flex;
    flex-direction: row;
    align-self: center;
    margin-left: 30%;
    white-space: nowrap;
}

ol.nav-bar > 



